<section>
    <div>
        <a href="#">
            <img src="../../../public/uploads/download.jpg">
            <div class="text">
                <span>entertainment and activities</span>
                <h2>8 family history and genealogy gift ideas</h2>
            </div>  
        </a>
    </div>

    <div>
        <a href="#">
            <img src="/images/download.jpg">
            <div class="text">
                <span>entertainment and activities</span>
                <h2>8 family history and genealogy gift ideas</h2>
            </div>  
        </a>
    </div>
    
    <div>
        <a href="#">
            <img src="/images/download.jpg">
            <div class="text">
                <span>entertainment and activities</span>
                <h2>8 family history and genealogy gift ideas</h2>
            </div>  
        </a>
    </div>
</section>

<aside>
    <div class="latest-news">
        <a>popular articles</a>
    </div>

    <div>
        <div class="articles-list">
            <div class="field-content">
                <a href="#">
                    <image src="/images/download.jpg">
                    <div class="text">
                        <span>entertainment and activities</span>
                        <h2>8 family history and genealogy gift ideas</h2>
                    </div>    
                </a>
            </div>

            <div class="field-content">
                <a href="#">
                    <image src="/images/download.jpg">
                    <div class="text">
                        <span>entertainment and activities</span>
                        <h2>8 family history and genealogy gift ideas</h2>
                    </div>    
                </a>
            </div>

            <div class="field-content">
                <a href="#">
                    <image src="/images/download.jpg">
                    <div class="text">
                        <span>entertainment and activities</span>
                        <h2>8 family history and genealogy gift ideas</h2>
                    </div>    
                </a>
            </div>

            <div class="field-content">
                <a href="#">
                    <image src="/images/download.jpg">
                    <div class="text">
                        <span>entertainment and activities</span>
                        <h2>8 family history and genealogy gift ideas</h2>
                    </div>    
                </a>
            </div>
        </div>
    </div>
</aside>