<footer>
        <form action="/articles">
            <i class="fa fa-search"></i>
            <input type="search" name="search" placeholder="I'm searching for">
            <input type="submit" value="Search">
        </form>
    <div><a>© 2020 <span>childeducation</span>.  All rights reserved.</a></div>
</footer>